body{
margin:0;
background:black;
color:white;
font-family:Arial;
text-align:center;
}

.title{
margin-top:20px;
}

.menu{
display:flex;
gap:20px;
justify-content:center;
margin-top:40px;
}

.menu a{
background:#cc0000;
padding:15px 25px;
border-radius:10px;
color:white;
text-decoration:none;
}

.video-box{
position:relative;
max-width:1000px;
margin:auto;
}

video{
width:100%;
}

.scorebar{
position:absolute;
bottom:0;
left:0;
right:0;
background:linear-gradient(90deg,#8a0000,#cc0000);
display:flex;
justify-content:space-between;
padding:8px 15px;
align-items:center;
}

.teams{
display:flex;
gap:6px;
align-items:center;
font-weight:bold;
}

.score{
background:black;
padding:3px 8px;
border-radius:4px;
}

.batters{
display:flex;
gap:15px;
}

.batter{
display:flex;
gap:4px;
}

.striker{
background:#660000;
padding:2px 6px;
border-radius:4px;
}

.arrow{
color:yellow;
}

.overballs span{
background:white;
color:black;
padding:2px 6px;
border-radius:50%;
margin-left:3px;
font-size:12px;
}

#anim{
position:fixed;
top:40%;
left:50%;
transform:translate(-50%,-50%);
font-size:120px;
font-weight:bold;
color:#ffd700;
opacity:0;
transition:0.4s;
}

#anim.show{
opacity:1;
}

.target{
font-size:22px;
margin-top:10px;
}

.win-box{
position:fixed;
top:30%;
left:50%;
transform:translate(-50%,-50%);
font-size:70px;
font-weight:bold;
color:#00ff88;
text-align:center;
}

.custom-container{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
display:flex;
align-items:center;
justify-content:center;
font-family:'Hind Siliguri',sans-serif;
color:white;
text-align:center;
}
