body{

background:#0b1020;
color:white;
font-family:Arial;
text-align:center;

}

.menu{

display:flex;
gap:20px;
justify-content:center;
margin-top:40px;

}

.menu a{

background:#121a33;
padding:15px 30px;
border-radius:10px;
color:white;
text-decoration:none;

}

.videoBox{

position:relative;
max-width:800px;
margin:auto;

}

video{

width:100%;

}

.overlay{

position:absolute;
bottom:0;
left:0;
right:0;

background:rgba(0,0,0,0.7);

padding:15px;

}

table{

width:80%;
margin:auto;

border-collapse:collapse;

}

th,td{

padding:10px;
border-bottom:1px solid #333;

}

#animation{

position:fixed;
top:40%;
left:50%;

transform:translate(-50%,-50%);

font-size:80px;
font-weight:bold;

opacity:0;

transition:0.4s;

}

#animation.show{

opacity:1;

}
